.trending {
  margin-block: 35px;
  max-width: 100%;
}

.trending .trending-movies {
  margin-top: 25px;
  gap: 40px;
  display: flex;
  max-width: 100%;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  flex: 1;
  overflow-x: auto;
}

.trending .trending-movies::-webkit-scrollbar {
  display: none;
}

.trending .trending-movies .trending-movie {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  height: 230px;
  width: clamp(240px, 50vw, 470px);
  padding: 1.5rem;
  /* opacity: 50%; */
}

.trending-movies .trending-movie .properties {
  display: flex;
  gap: 22px;
}

.trending-movies .trending-movie .dropdown {
  margin-top: auto;
  margin-left: 30px;
}

@media screen and (max-width: 425px) {
  .trending .trending-movies .trending-movie {
    height: 140px;
  }
}